@charset "UTF-8";
* {
  margin-top: 0;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
}

html {
  background-color: #e0e0f0;
}

body {
  margin: 0 8% 30%;
  padding: 0 2em 4em;
  background-color: whitesmoke;
}

header,
footer {
  font-size: smaller;
}

header a:hover,
footer a:hover {
  background: none;
}

header dl,
footer dl {
  float: right;
}

header dl dt,
footer dl dt {
  float: left;
  clear: left;
  width: 7em;
}

header dl dt:after,
footer dl dt:after {
  content: ":";
}

header dl dd,
footer dl dd {
  float: left;
  margin-left: 1em;
}

h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  border-bottom-style: double;
}

h1::first-letter {
  font-size: larger;
}

h2 {
  margin-top: 50px;
  padding: 5px;
  border-left: 10px solid #c9d0e6;
  background-color: #e6e8f0;
}

p {
  text-indent: 1em;
}

a:hover {
  background: linear-gradient(transparent, orange);
}

table {
  border: thin gray solid;
  border-collapse: collapse;
}

th,
td {
  border: thin gray dotted;
  padding: 2px;
}

th {
  border-bottom: thin gray solid;
  background-color: #e6e8f0;
}

pre {
  border: thin lightgray ridge;
  white-space: pre-wrap;
  line-height: 120%;
  padding: 3px;
}

code {
  font-family: "Consolas", "BIZ UDゴシック", monospace;
}

footer {
  margin-top: 4em;
  padding-top: 1em;
  border-top: thin darkgray solid;
}

.app {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: thin solid;
  background-color: #ffffeb;
  font-size: larger;
  font-weight: bolder;
  text-indent: 0;
}

a.app:hover {
  background: orange;
}

.note {
  color: #505050;
  font-size: smaller;
  margin-left: 2em;
  margin-right: 2em;
  border: 1px darkgray dotted;
}

textarea {
  width: 100%;
}

input:-moz-read-only {
  background-color: gainsboro;
}

.text {
  width: 100%;
}

input[type="number"],
.number {
  font-family: "Consolas", monospace;
  width: 20em;
  text-align: end;
}

.draggable {
  display: inline-block;
  position: relative;
  max-width: 300px;
  padding: 5px;
  border: thin solid;
  background-color: #fffff0;
  vertical-align: top;
  cursor: move;
}

#cameraVideo {
  display: none;
  width: 100%;
}

#map {
  width: 100%;
  height: 50vmax;
}

#address {
  width: 100%;
}
